<% content_for :title do %>Social Memoryy<% end %>

<div id="user-welcome">
<% if logged_in? %>
    <% if current_user.facebook_user? %>
         <fb:profile-pic uid="<%= current_user.fb_user_id%>" facebook-logo="flase" height='40'>
    </fb:profile-pic>
        <p class="welcome">Welcome, <%= current_user.name %></p>
        <p class="logout">
          <a href="#" onclick="FB.Connect.logout(function (){ document.location='/logout/'; });">Logout</a>
        </p>

        <%= link_to '(+)Add New Memory', newmem_path, :id => "add-new-mem" %>
    <% else %>
        <p>why don't you connect with your facebook account</p>
        <%= fb_login_button('window.location = "/users/link_user_accounts";')%>
        <p><%= link_to 'Logout', logout_path%></p>
    <% end %>
<% else %>
    <h2>You are not logged in!</h2>
    <p><%= link_to 'Signup', signup_path%> or <%= link_to 'Login', login_path%></p>
<% end %>
</div><!-- #user-welcome -->

<ul id="the-grid">
    <% @memories.each do |memory| %>
      <li onclick="document.location.href='/<%= memory.id %>'">
      	<%= image_tag("http://graph.facebook.com/#{memory.author_fb_id}/picture", :class => "author_pic") %>
        <p class="mem"><a href="/<%= memory.id %>"><%= truncate(memory.body, :length => 100) %></a></p>
          <p class="meta">
          	<% memory.users.each do |user| %>
				<% unless memory.user_is_owner?(user) %>					
				<%= image_tag("http://graph.facebook.com/#{user.fb_user_id}/picture", :class => "tagged-user-pic") %>
				<% end %>
			<% end %>
          	<span class="author">Posted by: <%= memory.author_name %></span>        	
            <span class="user-count"><%= memory.users.size %></span>
            <span class="comment-count"><%= memory.comments.size %></span>
          </p>
		<% unless memory.has_user_commented?(current_user) %>
			<p class="incomplete">
				<span>What do <span class="underline">you</span> remember about this memory? Click through to contribute.</span>
			</p>
		<% end %>
       </li>
    <% end %>
</ul>



